@charset "utf-8";
*, ::before, ::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}

body{
	background: #f1f1f1;
	height: 100vw;
	display: flex;
	flex-direction: column;
}

/*Navbar*/
header{
	width: 100%;
	height: 5vw;
	background: linear-gradient(45deg, #616df3, #39ffc0);
	background-size: cover;
}

.logo {
	width: auto;
	height: 5vw;
	padding: 10px;
	
}

.logo img{
	border-radius: 25px;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

.navMenu {
  position: absolute;
  top: 50px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.navMenu a {
  color: #f6f4e6;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 80px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
  color: #fddb3a;
}

.navMenu .dot {
  width: 6px;
  height: 6px;
  background: #fddb3a;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(110px);
  transform: translateX(110px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
  -webkit-transform: translateX(200px);
  transform: translateX(200px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(4):hover ~ .dot {
  -webkit-transform: translateX(285px);
  transform: translateX(285px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

/*Footer Part*/
footer {
  	flex-shrink: 0;
	border-top: 1px dashed #000;
	width: 100%;
	background: #BABABA;
	color: #333;
}

.contenu {
	flex: 1 0 auto;
}

.contenu p {
	padding: 5vw 10vw;
	text-align: justify;
}

.contenu-footer {
	width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	font-size: 20px;
	padding: 25px 0 100px;
}

.bloc {
	width: 25%;
	margin: 0 30px;
}

.footer-contact h3,
.footer-soutiens h3,
.footer-reseaux h3,
.footer-services h3 {
	font-size: 25px;
	padding-bottom: 20px;
}

.footer-contact p {
	padding: 5px 0;
}

.footer-contact a {
	text-decoration: none;
	color: #333;
}

.footer-contact a:hover {
	color: rgb(3,3,3);
}

.liste-soutiens,
.liste-services,
.liste-reseaux {
	list-style-type: none;
}

.liste-soutiens a {
	text-decoration: none;
	color: #333;
}

.liste-soutiens a:hover {
	color: rgb(3,3,3);
}

.warning {
	color: red;
}

.liste-services li {
	padding: 2px 0;
}

.liste-services a {
	text-decoration: none;
	color: #333;
}

.liste-services a:hover {
	color: rgb(3,3,3);
}

.liste-reseaux a {
	text-decoration: none;
	color: #333;
	display: flex;
	align-items: center;
}

.footer-bottom {
	text-align: center;
	color: #333;
	padding: 1vw;
}

.footer-bottom a {
	text-decoration: none;
	color: #333;
}

/*Change footer size depending on screen sizr*/
@media screen and (max-width: 1300px) {
	.contenu-footer {
		width: 700px;
		flex-wrap: wrap;
	}
	
	.bloc {
		width: 40%;
		margin: 0 0;
	}
	
	.bloc:nth-child(1),
	.bloc:nth-child(2) {
		margin-bottom: 25px;
	}
}

@media screen and (max-width: 800px) {
	.contenu-footer {
		width: 320px;
	}
	
	.bloc {
		width: 300px;
		margin: 30px 30px;
	}
	
	.bloc:nth-child(1),
	.bloc:nth-child(2) {
		margin-bottom: 15px;
	}
	.bloc:nth-child(1) {
		margin-top: 0; 
	}
}